@tailwind base;
@tailwind components;
@tailwind utilities;


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

} */

.chart .title{
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  margin-left: auto;
  margin-right: auto;
}


/* .from-input{
  @apply mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
} */


.form-input {
  margin-top: 0.25rem; /* mt-1 */
  display: block; /* block */
  width: 100%; /* w-full */
  padding: 0.5rem 0.75rem; /* py-2 px-3 */
  border: 1px solid #d1d5db; /* border border-gray-300 */
  background-color: #ffffff; /* bg-white */
  border-radius: 0.375rem; /* rounded-md */
  font-size: 0.875rem; /* sm:text-sm */
  line-height: 1.25rem; /* sm:text-sm */
}

.form-input:focus {
  outline: none; /* focus:outline-none */
  border-color: #6366f1; /* focus:border-indigo-500 */
  box-shadow: 0 0 0 2px #6366f1; /* focus:ring-2 focus:ring-indigo-500 */
}
